<div class="side-navbar"  [class.expand]="showSideNavbar" (click)="collapseSideNavbar()">
    <div class="side-navbar-menu">
      <div class="side-navbar-menu-title">
        <div class="side-navbar-menu-icon">
          <div class="horizontal-bar"></div>
          <div class="horizontal-bar"></div>
          <div class="horizontal-bar"></div>
        </div>
        <div class= "side-navbar-logo">
          <a class= "side-navbar-logo-letter">SINGOLO*</a>
        </div>
      </div>
      <div class="side-navbar-menu-items">
        <div class="side-navbar-menu-item">
          <a class="menu-letter active">HOME</a>
        </div>
        <div class="side-navbar-menu-item">
          <a class="menu-letter" href="#service">SERVICES</a>
        </div>
        <div class="side-navbar-menu-item">
          <a class="menu-letter" href="#portfolio">PORTFOLIO</a>
        </div>
        <div class="side-navbar-menu-item">
          <a class="menu-letter" href="#about">ABOUT</a>
        </div>
        <div class="side-navbar-menu-item">
          <a class="menu-letter" href="#quote">CONTACT</a>
        </div>
      </div>
    </div>
  </div>