<div class="side-navbar"  [class.expand]="showSideNavbar" (click)="collapseSideNavbar()">
    <div class="side-navbar-menu">
      <div class="side-navbar-menu-title">
        <div class="side-navbar-menu-icon">
          <div class="horizontal-bar"></div>
          <div class="horizontal-bar"></div>
          <div class="horizontal-bar"></div>
        </div>
        <div class= "side-navbar-logo">
          <label class= "side-navbar-logo-letter">SINGOLO*</label>
        </div>
      </div>
      <div class="side-navbar-menu-items">
        <div class="side-navbar-menu-item">
          <label class="menu-letter active">HOME</label>
        </div>
        <div class="side-navbar-menu-item">
          <label class="menu-letter">SERVICES</label>
        </div>
        <div class="side-navbar-menu-item">
          <label class="menu-letter">PORTFOLIO</label>
        </div>
        <div class="side-navbar-menu-item">
          <label class="menu-letter">ABOUT</label>
        </div>
        <div class="side-navbar-menu-item">
          <label class="menu-letter">CONTACT</label>
        </div>
      </div>
    </div>
  </div>