<div class="our-services">
    <div class="title">
       Our Services
    </div>
    <div class="description">
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
    </div>
    <div class="services-list">
        <div class="service-item">
            <div class="service-icon">
                <img src="/assets/icons/pen.svg">
            </div>
            <div>
                <div class="service-title">
                    Custom Desing
                </div>
                <div class="service-content">
                    Curabitur vestibulum eget mauris quis laoreet. Phasellus in quam laoreet, viverra lacus ut, ultrices velit.
                </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
              <img src="/assets/icons/lamp.svg">
            </div>
            <div>
              <div class="service-title">
                  Inovative Ideas

              </div>
              <div class="service-content">
                  Quisque luctus, quam eget molestie commodo, lacus purus cursus purus, nec rutrum tellus dolor id lorem.
              </div>
          </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
              <img src="/assets/icons/heart.svg">
            </div>
            <div>
              <div class="service-title">
                  Love Is The Answer
              </div>
              <div class="service-content">
                  Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis. Quisque condimentum.
              </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
              <img src="/assets/icons/phone.svg">
            </div>
            <div>
              <div class="service-title">
                  Responsive Layout
              </div>
              <div class="service-content">
                  Sed porttitor placerat rhoncus. In at nunc tellus. Maecenas blandit nunc ligula. Praesent elit leo.
              </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
              <img src="/assets/icons/chat.svg">
            </div>
            <div>
              <div class="service-title">
                  24 / 7 Support
              </div>
              <div class="service-content">
                  Vivamus vel quam lacinia, tincidunt dui non, vehicula nisi. Nulla a sem erat. Pellentesque egestas venenatis lorem .
              </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-icon">
              <img src="/assets/icons/star.svg">
            </div>
            <div>
              <div class="service-title">
                  Feel Like A Star
              </div>
              <div class="service-content">
                  Quisque hendrerit purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus.
              </div>
            </div>
        </div> 
    </div>
</div>