<div class="header"> 
    <div class="logo">
        <label class= "logo-letter">
          SINGOLO*
        </label>
      </div>
      <div class="main-var">
        <a class="main-var-letter active">HOME</a>
        <span class="dot"></span>
        <a class="main-var-letter" href="#service">SERVICES</a>
        <span class="dot"></span>
        <a class="main-var-letter" href="#portfolio">PORTFOLIO</a>
        <span class="dot"></span>
        <a class="main-var-letter" href="#about">ABOUT</a>
        <span class="dot"></span>
        <a class="main-var-letter" href="#quote">CONTACT</a>
      </div>
</div>