<div class="about-us">
  <div class="title">
    About Us
  </div>
  <div class="description">
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
  </div>
  <div class="profiles">
    <div class="profile-item">
      <div class="profile-image">
        <img src="/assets/images/photo-1.jpg">
      </div>
      <div class="profile-description">
        <div class = "name">
          Adam Jensen
        </div>
        <div class="about-description">
          Quisque luctus, quam eget molestie commodo, lacus purus cursus purus, nec rutrum tellus dolor id lorem.
        </div>
      </div>
      <div class="socials">
        <img class="icon" src="/assets/icons/ico-facebook.svg">
        <img class="icon" src="/assets/icons/ico-google-plus.svg">
        <img class="icon" src="/assets/icons/ico-linkedin.svg">
        <img class="icon" src="/assets/icons/ico-twitter.svg">
      </div>
    </div>
    <div class="profile-item">
      <div class="profile-image">
        <img src="/assets/images/photo-2.jpg">
      </div>
      <div class="profile-description">
        <div class = "name">
          Desmond Miles
        </div>
        <div class="about-description">
          Curabitur vestibulum eget mauris quis laoreet. Phasellus in quam laoreet, viverra lacus ut, ultrices velit.
        </div>
      </div>
      <div class="socials">
        <img class="icon" src="/assets/icons/ico-facebook.svg">
        <img class="icon" src="/assets/icons/ico-google-plus.svg">
        <img class="icon" src="/assets/icons/ico-linkedin.svg">
        <img class="icon" src="/assets/icons/ico-twitter.svg">
      </div>
    </div>
    <div class="profile-item">
      <div class="profile-image">
        <img src="/assets/images/photo-3.jpg">
      </div>
      <div class="profile-description">
        <div class = "name">
          Scolara Visari
        </div>
        <div class="about-description">
          Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis. Quisque condimentum.
        </div>
      </div>
      <div class="socials">
        <img  class="icon" src="/assets/icons/ico-facebook.svg">
        <img class="icon" src="/assets/icons/ico-google-plus.svg">
        <img class="icon" src="/assets/icons/ico-linkedin.svg">
        <img class="icon" src="/assets/icons/ico-twitter.svg">
      </div>
    </div>
  </div>
</div>