<div class="get-a-quote">
    <div class="title quote-title">
      Get a Quote
    </div>
    <div class="description quote-description">
      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
    </div>
  
    <div class="quote-container">
      <div class="form">
        <form>
          <input class= "input" placeholder="Name (required)">
          <input class= "input" placeholder="Email (required)">
          <input class= "input" placeholder="Subject">
          <textarea class= "describe" placeholder="Describe your project in detail"></textarea>
          <button class="form-button">SEND</button>
        </form>
      </div>
      <div class="information">
        <div class="inner-title">
          Contact Information
        </div>
        <div class="inner-description">
          Quisque hendrerit purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus. Proin sit amet volutpat libero. Nulla sed nunc et tortor luctus faucibus. Morbi at aliquet turpis, et consequat felis.
        </div>
        <div class="contact-info">
          <div class="location">
            <img src="/assets/icons/ico-location.svg">
            <a class="street">Elm St. 14/05 Lost City</a>
          </div>
          <div class="phone">
            <img src="/assets/icons/ico-phone.svg">
            <a class="phone-num">03528 331 86 35</a>
          </div>
          <div class="mail">
            <img src="/assets/icons/ico-mail.svg">
            <a class="mail-info">info@singolo.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>